<div class="container-fluid">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#/panel">Mastermenu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#/panel">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Histórico</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/registration">Cadastros
              	<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/main">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
   		<div class="container-fluid">
	<h1>Mater-Menu : Comandas</h1>

	<ul ng-repeat="c in commands">
  <li >
      <b>Id do Cliente</b> :{{c.idClient}}
  </li>
  <ul>
  	<b>Seus pedidos</b>
    <li ng-repeat="sol in c.solicitations">
		{{sol.product.name}}
    </li>
  </ul>
</ul>
<!-- 	  <table class="table table-striped">
		 	<tr>
				<th>Id Cliente</th>
				<th>Pedidos</th>
				<th>Opções</th>
			</tr>
			<tr ng-repeat="c in commands">
				<td>{{c.idClient}}</td>
				<td ng-repeat="sol in c.solicitations">{{sol.product.name}}</td>
				<td><button type="button" class="btn btn-info" 
			 ng-click="closeCommands(c)">ENCERRAR</button></td>
			</tr>
			
    </table> -->
	<a	class="btn btn-danger" href="" ng-click="back()" >Voltar</a>
</div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</div>