<div class="container-fluid">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#/panel">Mastermenu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#/panel">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Histórico</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/registration">Cadastros
              	<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/main">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
    <h1>Mesas</h1>
	<form  ng-submit="addDiningTable(dt)" name="form" novalidate>
		<div class="form-group">
			<label for="numberDT">Número da mesa:</label> <input
				id="numberDT" type="number" ng-model="dt.number"
				name="hName" required="true" placeholder="*" class="form-control" />
			<div ng-show="form.pName.$touched">
				<div ng-show="form.pName.$error.required"
					class="alert alert-danger">* Número obrigatório!</div>
			</div>  
		</div>
		<p>
			<span>Campo com * são obrigatórios.</span>
		</p>
		
		<div id=button>
			<input class="btn btn-danger" type="submit" value={{button}}
				ng-disabled="form.$invalid" />
		</div>
	</form>
	
	<h1>{{house.name}} : Mesas</h1>
	<table class="table table-striped">
		<tr>
			<th>Número da mesa</th>
			<th>Reservada</th>
			<th>Ações</th>
		</tr>
		<tr ng-repeat="dts in diningTables">
			<td>{{dts.number}}</td>
			<td>{{checkReserve(dts.reserved)}}</td>
			<td><button type="button" class="btn btn-info" ng-click="edit(dts)">Editar</button>
			<div ng-show="dts.reserved">
	        	<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDetailReserve" ng-click="actionDetailReserve(dts)">Detalhes</button>
	        </div>
	        </td>
		</tr>
	</table>
	
	<br/>
	<div id="modalDetailReserve" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title">Reserva: Mesa {{reserve.number}}</h4>
			      </div>
			      <div class="modal-body">
			      	<div class="form-group">
						<label for="reservePeopleNumber">Cliente:</label>
						{{reserveClient.name}}
					</div>
			      	 <div class="form-group">
						<label for="reservePeopleNumber">N° de pessoas:</label>
						{{reserve.peopleNumber}}
					</div>
					<div class="form-group">
						<label for="reserveDate">Data e hora:</label>
						{{dateReserve}}
					</div>
			      </div>
			      <div class="modal-footer">
			      	<div ng-show="!reserve.reserved">
			        	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reserveDiningTable(reserve)">Confirmar</button>
			        	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelReserve(reserve)">Cancelar</button>
			        </div>
			        <div ng-show="reserve.reserved">
			        	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelReserve(reserve)">Cancelar Reserva</button>
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
			      </div>
			    </div>
			
			  </div>
			</div>
			</div>
	<a href="" ng-click="back()" >Voltar</a>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</div>