<div class="container-fluid">
	<h1>Master-Menu : {{house.name}}</h1>
	<a href="" ng-click="actionProduct()">Produtos</a></br>
	<a href="" ng-click="actionCategory()">Categorias</a></br>
	<a href="" ng-click="actionCallSolicitationFood()">Pedidos Cozinha</a></br>
	<a href="" ng-click="actionCategory()">Pedidos Bar</a></br>
	<a href="" ng-click="actionCallClosedSolicitations()">Pedidos Encerrados</a></br>
	<a href="" ng-click="actionCategory()">Comandas</a>
	
	<br/>
	<a href="#/registration">Voltar</a>
</div>