<div class="container-fluid">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#/panel">Mastermenu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#/panel">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Histórico</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/registration">Cadastros
              	<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/main">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
    <h1>{{house.name}}: Novo Produto</h1>
	
	<form  ng-submit="addProduct(product)" name="form" novalidate>
					<div class="form-group">
						<label for="nameProduct">Nome:</label> <input
							id="nameProduct" type="text" ng-model="product.name"
							name="pName" required="true" placeholder="*" class="form-control" />
					
					</div>
					<div class="form-group">
						<label for="descriptionPresentation">Description:</label>
						<textarea id="descriptionPresentation" type="text"
							ng-model="presentation.description.value" class="form-control" /></textarea>
					</div>
	
					<div class="form-group">
						<label for="priceProduct">Preço:</label>
						<input
							id="priceProduct" type="number" ng-model="product.price"
							name="pPrice" required="true" placeholder="*" class="form-control" />
						
					</div>
					
					<div class="form-group">
						<label for="menuProduct">Menu:</label>
						<input type="checkbox" ng-model="isMenu"checked >
					</div>
					
					<div class="form-group">
						<label for="categoryProduct">Categoria:</label>
						<select id="categoryProduct" name="pCategory" ng-model="product.categoria" ng-options="category.nome for category in categories" 
							ng-init=" pCategory = categories[0].nome" required="true" class="form-control"><option value="">*</option></select>
						
					</div>
					
					<div class="form-group">
						<table>
							<thead>
								<tr>
									<th>Composição</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="c in compositions">
									<td>{{c.name}}</td>
									<td><input type="checkbox" name="" ng-model="selected" ng-checked="exist(c)"
									ng-click="toggleSelection(c)"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div>
						<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalOptionsComposition">Composições Opcionais</button>
						  <div class="modal fade" id="modalOptionsComposition" role="dialog">
						    <div class="modal-dialog">
						    
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" ng-click="closeModalOptionsComposition()">&times;</button>
						          <h4 class="modal-title">Marque as Opções</h4>
						        </div>
						        <div class="modal-body">
						          <table>
										<tbody>
											<tr ng-repeat="pc in optionsComposition">
												<td>{{pc.name}}</td>
												<td><input type="checkbox" name="" ng-model="selectedOptions" ng-checked="existOptions(pc)"
												ng-click="toggleSelectionOptions(pc)"></td>
											</tr>
										</tbody>
									</table>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Salvar</button>
						        </div>
						      </div>
						    </div>
						  </div>
						</div>
					<p>
						<span>Campos com * são obrigatórios.</span>
					</p>
					
					<div id=button>
						<input class="btn btn-info" type="submit" value="Salvar"
							ng-disabled="form.$invalid" />
						 <a	class="btn btn-danger" href="" ng-click="back()">Voltar</a>
					</div>
	
				</form>
				
				<div>
		<h3>Lista de Produtos</h3>
		<table class="table table-striped">
			<tr>
				<th>Nome</th>
				<th>Preço R$</th>
				<th>Opções</th>
			</tr>
			<tr ng-repeat="product in products">
				<td>{{product.name}}</td>
				<td>{{product.price}}</td>
				<td><button type="button" class="btn btn-info" ng-click="actionUpdate(product)">Editar</button>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDeleteProduct" ng-click="actionDelete(product)">Excluir</button>
					<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalHappyHour" ng-click="actionHappyHour(product)">Happy Hour</button></td>
			</tr>
		</table>
	</div>
</div>
<div id="modalDeleteProduct" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Exluir Produto</h4>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja excluir o Produto: </p> <b>{{productDeleted.name}}</b>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteProduct()">Sim</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Não</button>
      </div>
    </div>

  </div>
</div>
<div id="modalHappyHour" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Happy Hour</h4>
      </div>
      <div class="modal-body">
      	<p>Destinado a promoções para datas específicas.</p>
        <label for="happyHour">Início:</label>
		<input id="happyHour" type="datetime-local"
			 ng-model="productHappyHour.happyInit" class="form-control" value="" required/>
			 
		<label for="happyHour">Fim:</label>
		<input id="happyHour" type="datetime-local"
			 ng-model="productHappyHour.happyEnd" class="form-control" value="" required/>
			 
		<div class="form-group">
			<label for="priceHappyProduct">Preço Promocional:</label>
			<input
				id="priceHappyProduct" type="number" ng-model="productHappyHour.priceHappy"
				name="pPrice" required="true" placeholder="*" class="form-control" />
		</div>
					
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="checkHappyHour()">Confirmar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancelar</button>
      </div>
    </div>

  </div>
</div>
</div>

    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</div>