<div class="container-fluid">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#/panel">Mastermenu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#/panel">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Histórico</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/registration">Cadastros
              	<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/main">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
    	<h1>Mater-Menu : Pedidos Cozinha</h1>
	<table class="table table-striped">
		<tr>
			<th>Nome</th>
			<th>Hora de envio</th>
			<th>Prazo estimado</th>
			<th></th>
		</tr>
		<tr ng-repeat="s in solicitations">
			<td>{{s.product.name}}</td>
			<td>{{s.currentDate.time.hour}}:{{s.currentDate.time.minute}}hs</td>
			<td ng-style="!s.visibility && {'color':'red'}">{{s.estimatedDate.time.hour}}:{{s.estimatedDate.time.minute}}hs</td>
			<td><button type="button" class="btn btn-info" 
			 ng-click="closeSolicitation(s)">Encerrar</button>
			 <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDetail" ng-click="actionDetail(s)">Detalhes</button></td>
		</tr>
	</table>
	
	<div id="modalDetail" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    Modal content
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Detalhes do pedido</h4>
	      </div>
	      <div class="modal-body">
	      	<label><b>Cliente:</b></label>{{client.name}}</br>
	      	<label><b>Quantidade:</b></label>{{detailSol.quantity}}</br>
	       	<label><b>Composição:</b></label>
	       	<table>
				<tbody>
					<tr ng-repeat="com in detailSol.selectedCompositions">
						<td>{{com.name}}</td>
					</tr>
				</tbody>
			</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
	      </div>
	    </div>
	
	  </div>
	</div>
	<a	class="btn btn-danger" href="" ng-click="back()" >Voltar</a>
	
	<!-- Modal -->
	<div id="modalCloseProduct" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">ENCERRAR PEDIDO</h4>
	      </div>
	      <div class="modal-body">
	        <p>Você deseja encerrar o produto? </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeSolicitation(solicitation)">Sim</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
	      </div>
	    </div>
	
	  </div>
</div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</div>