<div class="container-fluid">
	<h1>Mater-Menu : Atualizar Estabelecimento</h1>
	<form  ng-submit="updateHouse(house)" name="form" novalidate>
		<div class="form-group">
			<label for="nameHouse">Nome:</label> <input
				id="nameHouse" type="text" ng-model="house.name"
				name="hName" required="true" placeholder="*" class="form-control" />
			<!-- <div ng-show="form.pName.$touched">
				<div ng-show="form.pName.$error.required"
					class="alert alert-danger">* Nome obrigatório!</div>
			</div>   -->
		</div>
		<p>	
			<span>Com * é obrigatório.</span>
		</p>
		<div id=button>
			<input class="btn btn-danger" type="submit" value="Atualizar"
				ng-disabled="form.$invalid" />
				
			<a href="#/registration" class="btn btn-danger">Voltar</a>
		</div>

	</form>
</div>