<div class="container-fluid">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#/panel">Mastermenu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#/panel">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Histórico</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/registration">Cadastros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/main">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
     <h1>{{house.fantasyName}} : Meus Pedidos</h1>
	<table class="table table-striped">
		<tr>
			<th>Nome</th>
			<th>Quant.</th>
			<th>Preço Unit. (R$)</th>
			<th>Sub Total (R$)</th>
			<th></th>
		</tr>
		<tr ng-repeat="solicitation in solicitationsTemp">
			<td>{{solicitation.product.name}}</td>
			<td>{{solicitation.quantity}}</td>
			<td>{{solicitation.product.price}}</td>
			<td>{{subTotal(solicitation.quantity, solicitation.product.price)}}</td>
			<td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDetail" ng-click="actionDetail(solicitation)">Personalizar</button>
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalCancel" ng-click="actionCancel(solicitation)">Cancelar</button></td>
		</tr>
		<tfoot>
    	<tr>
    		<td></td>
    		<td></td>
    		<td><b>Total (R$):</b></td>
    		<td>{{priceTotal.toFixed(2)}}</td>
    	</tr>
		</tfoot>
	</table>
	
	<div id="modalDetail" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    Modal content
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Detalhes do pedido</h4>
	      </div>
	      <div class="modal-body">
	       	<div class="container.fluid">
			  <div class="row">
			    <div class="col-md-6">
			    	<h4>Composição:</h4>
			    	<table>
						<tbody>
							<tr ng-repeat="composition in solicitationDetail.product.compositions">
								<td>{{composition.name}}</td>
								<td><input type="checkbox" name="" ng-model="selected" ng-checked="true"
												ng-click="toggleSelectionOptions(composition)"></td>
							</tr>
						</tbody>
					</table>
			    </div>
			    <div class="col-md-6">
			    	<h4>Opções:</h4>
			    	<table>
						<tbody>
							<tr ng-repeat="optionComposition in solicitationDetail.product.optionsComposition">
								<td>{{optionComposition.name}}</td>
								<td><input type="checkbox" name="" ng-model="selected" ng-checked="existOptions(optionComposition)"
												ng-click="toggleSelectionOptions(optionComposition)"></td>
							</tr>
						</tbody>
					</table>
			    </div>
			  </div>
			 </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Confirmar</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	      </div>
	    </div>
	
	  </div>
	</div>
	
	<div id="modalCancel" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    Modal content
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Cancelar pedido</h4>
	      </div>
	      <div class="modal-body">
	       	<p>Tem certeza que deseja retirar o pedido <b>{{solicitationCanceled.product.name}}</b> da lista?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelOrder()">Sim</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
	      </div>
	    </div>
	
	  </div>
	</div>
	
	<a	class="btn btn-danger" href="" ng-click="back()">Voltar</a>
	<button	class="btn btn-info" ng-click="solicitationOrders()">Solicitar</button>
    
    <h3>Acompanhe seu pedido</h3>
    <table class="table table-striped">
		<tr>
			<th>Nome</th>
			<th>Hora de envio</th>
			<th>Prazo estimado</th>
			<th></th>
		</tr>
		<tr ng-repeat="o in orders">
			<td>{{o.product.name}}</td>
			<td>{{o.currentDate.time.hour}}:{{o.currentDate.time.minute}}hs</td>
			<td>{{o.estimatedDate.time.hour}}:{{o.estimatedDate.time.minute}}hs</td>
			<td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDetailOrder" ng-click="actionDetailOrder(o)">Detalhes</button></td>
		</tr>
	</table>
	
	<div id="modalDetailOrder" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	
	    Modal content
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Detalhes do pedido</h4>
	      </div>
	      <div class="modal-body">
	      	<label><b>Quantidade:</b></label>{{solicitationDetailOrder.quantity}}</br>
	      	<label><b>Preço Unitário (R$):</b></label>{{solicitationDetailOrder.product.price}}</br>
	      	<label><b>Sub Total (R$):</b></label>{{subTotal(solicitationDetailOrder.quantity, solicitationDetailOrder.product.price)}}</br>
	      	<label><b>Composição:</b></label>
	       	<table>
				<tbody>
					<tr ng-repeat="com in solicitationDetailOrder.product.compositions">
						<td>{{com.name}}</td>
					</tr>
					<tr ng-repeat="com in solicitationDetailOrder.product.optionsComposition">
						<td>{{com.name}}</td>
					</tr>
				</tbody>
			</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
	      </div>
	    </div>
	
	  </div>
	</div>
    
    </header>
    
    
    

  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</div>