<!-- <div class="container-fluid">
	<h1>Mater-Menu : Painel Cliente</h1>
	<a href="" ng-click="actionMenu()">Cardápio</a>
	<a href="#/listaDePedidos">Meus Pedidos</a>
	<a href="#/main">Voltar</a>
</div> -->
<div class="container-fluid">
	<h1>Mater-Menu : Painel</h1>
	<a href="">Perfil</a></br>
	<a href="">Histórico</a></br>
	<a href="#/registration">Cadastros</a></br>
	<a href="#/main">Sair</a>
	
	<div>
		<h3>Estabelecimentos</h3>
		<table class="table table-striped">
			<tr ng-repeat="house in houses">
				<td><button type="button" class="btn btn-info" ng-click="actionHouse(house)">{{house.name}}</button></td>
			</tr>
		</table>
	</div>
</div>