<!-- <div class="container-fluid">
	<h1>Mater-Menu : {{house.name}}</h1>
	<a href="" ng-click="actionMenu()">Nosso Cardápio</a>
	<a href="" ng-click="actionShoppingList()">Sua Lista de Solicitações</a>
	
	<br/>
	<a href="#/panel">Voltar</a>
</div> -->
<div class="container-fluid">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#/panel">Mastermenu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#/panel">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Histórico</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/registration">Cadastros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/main">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div class="container-fluid">
      		<h1>Reservar</h1>
			<div class="row">
			<div class="card col-md-4" ng-repeat="dts in diningTables">
			  <div class="card-block">
			    <h4 class="card-title">{{dts.number}}</h4>
			    <div ng-show="!dts.reserved">
		            <!-- <button type="button" class="btn btn-info"  ng-click="reserve(dts)">RESERVAR</button> -->
		            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalReserve" ng-click="actionReserve(dts)">RESERVAR</button>
		        </div>
		        <div ng-show="dts.reserved">
		            {{dts.reserved}}
		        </div>
		        <div ng-show="dts.idClient == idUser && dts.reserved">
		        	<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalReserve" ng-click="actionReserve(dts)">Mais...</button>
		        </div>
			  </div>
			</div>
			</div>
			<div id="modalReserve" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title">Reserva Mesa {{reserve.number}}</h4>
			      </div>
			      <div class="modal-body">
			      	 <div class="form-group">
						<label for="reservePeopleNumber">N° de pessoas:</label>
						<input id="reservePeopleNumber" type="number"
							ng-model="reserve.peopleNumber" class="form-control" required/>
					</div>
					<div class="form-group">
						<label for="reserveDate">Data e hora:</label>
						<input id="reserveDate" type="datetime-local"
							 ng-model="reserve.date" class="form-control" value="" required/>
					</div>
			      </div>
			      <div class="modal-footer">
			      	<div ng-show="!reserve.reserved">
			        	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reserveDiningTable(reserve)">Confirmar</button>
			        	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelReserve(reserve)">Cancelar</button>
			        </div>
			        <div ng-show="reserve.reserved">
			        	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelReserve(reserve)">Cancelar Reserva</button>
			        	<button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
			      </div>
			    </div>
			
			  </div>
			</div>
			</div>
			<a href="" ng-click="back()">Voltar</a>
		</div>
    </header>
    

  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</div>